<!DOCTYPE html>
<html>
<head>
   <title>Top Down Operator Precedence</title>
   <link href="global.css" rel="stylesheet" type="text/css">
   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

   <!--<script type="text/javascript" src="node_modules/underscore/underscore.js"></script>-->
   <!--<script type="text/javascript" src="bower_components/jquery/src/jquery.js"></script>-->

   <script src="main.js"></script>
</head>

<body>
<%- body %>
</body>
  <script src="funcFich.js"></script>
</html>
